<div>
    <h1 style="text-align: center;margin-top: 60px;"> Registration Form</h1>

    <form  style="margin-left: 60px;margin-right: 40px;" >
        <div class="form-group">
            <label for="username"><b>Student Name</b></label>
            <input type="text" class="form-control" formControlName="username" >
        </div>
        <br>

        <div class="form-group">
            <label for="emailId"><b>Email Id</b></label>
            <input type="text" class="form-control" formControlName="emailId">
        </div>
        <br>

        <div class="form-group">
            <label for="mobileNumber"><b>Mobile No</b></label>
            <input type="number" class="form-control" formControlName="mobileNumber">
        </div>
        <br>

        <div class="form-group">
            <label for="education"><b>Education</b></label>
            <input type="text" class="form-control" formControlName="education">
        </div>
        <br>

        <div class="form-group">
            <label><b>Select Course</b></label>
            <!-- <select class="form-control" [(ngModel)]="selectedCourse">
              <option value="" disabled>Click here to select course</option>
              <option *ngFor="let course of courseDetails" [value]="course.id">
                {{ course.name }}
              </option>
            </select> -->
          </div>
          
        <br>

        <div class="form-group">
            <input type="checkbox"> <label><b> I agree terms and conditions declared by the Myospaz</b></label>
        </div>
        <br><br>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </div>
    </form>
</div>

